.todo {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}

.todo_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-content: center;
  border-right: 10px solid #7a9388;
}

.todo_headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

/*.sidebar_headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}*/
